*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Albra';
  src: url('font/AlbraBold.woff2') format('woff2'),
      url('font/AlbraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Albra';
  src: url('font/AlbraBlack.woff2') format('woff2'),
      url('font/AlbraBlack.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Albra';
  src: url('font/AlbraLight.woff2') format('woff2'),
      url('font/AlbraLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Albra';
  src: url('font/AlbraMedium.woff2') format('woff2'),
      url('font/AlbraMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Albra';
  src: url('font/AlbraRegular.woff2') format('woff2'),
      url('font/AlbraRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Albra Semi';
  src: url('font/AlbraSemi.woff2') format('woff2'),
      url('font/AlbraSemi.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Albra Text';
  src: url('font/AlbraTextBlack.woff2') format('woff2'),
      url('font/AlbraTextBlack.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Albra Text';
  src: url('font/AlbraTextBold.woff2') format('woff2'),
      url('font/AlbraTextBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Albra Text';
  src: url('font/AlbraTextLight.woff2') format('woff2'),
      url('font/AlbraTextLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Albra Text';
  src: url('font/AlbraTextMedium.woff2') format('woff2'),
      url('font/AlbraTextMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Albra Text';
  src: url('font/AlbraTextRegular.woff2') format('woff2'),
      url('font/AlbraTextRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Albra Text Semi';
  src: url('AlbraTextSemi.woff2') format('woff2'),
      url('AlbraTextSemi.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('font/ApercuPro.woff2') format('woff2'),
      url('font/ApercuPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* SPACEGOODS SECTION STYLE START */

.spacegoods{
  background: #f1eefe;
}

.spacegoods .container{
  margin: auto;
  width: 65%;
  padding: 89px 0 89px 0;
}

.heading{
  font-family: 'Albra';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
}
.spacegoods .container h1{
  color: #000000;
  text-align: center;
}

.spacegoods .container .all_card{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 22px;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}

.spacegoods .container .all_card .card{
  flex:1
}

.spacegoods .container .all_card .card .card_body{
  margin-top: 5px;
}

.spacegoods .container .all_card .card h3{
  font-family: 'Apercu Pro';
font-weight: 700;
font-size: 28px;
color: #010101;
}

.spacegoods .container .all_card .card p{
  font-family: 'Apercu Pro';
  font-weight: 400;
  font-size: 18px;
  color: #010101;
  padding: 6px 20%;
}


@media only screen and (max-width: 992px) {

  .spacegoods .container {
    margin: auto;
    width: 75%;
    padding: 42px 3% 89px 6%;
}
  .spacegoods .container .all_card{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 22px;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .spacegoods .container .all_card .card{
    margin-top: 20px;
  }

}

/* SPACEGOODS SECTION STYLE END */


/* FAQS SECTION STYLE START */

.faq .container{
  margin: 90px auto;
	max-width: 797px;
}


.faq .container .heading{
  text-align: center;
}
.faq .container .heading h1{
color: #010101;
padding-bottom: 15px;
}

.faq .container .heading h5{
  font-family: 'Apercu Pro';
font-weight: 400;
font-size: 22px;
color: #010101;
}

.faq .container .content, .faq .container .content .active{
  position: relative;
  border-bottom: 2px solid rgb(247 247 247)
}

.faq .container .content .question{
  font-family: 'Apercu Pro';
font-weight: 400;
font-size: 22px;
line-height: 31px;
color: #010101;
padding: 10px 0;
}

.faq .container .content .answer{
display: none;
}

.faq .container .content.active .answer {
  display: block;
  font-family: 'Apercu Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #010101;
  opacity: 0.6;
  padding: 6px 0 20px 0;
}

.faq .container .content .toggle{
	border: none;
  font-size: 16px;
	border-radius: 50%;
	color: #010101;
  background: white;
	cursor: pointer;
	position: absolute;
  top: 16px;
  right: 0;
  z-index: 1;
}

.faq .container .content .toggle .fa-chevron-up{
  display: none;
}

.faq .container .content.active .toggle .fa-chevron-up{
  display: block;
}

.faq .container .content .toggle .fa-chevron-down{
  display: block;
}

.faq .container .content.active .toggle .fa-chevron-down{
  display: none;
}

.faq .faq-footer{
  font-family: 'Apercu Pro';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 39px;
color: #010101;
margin-top: 30px;
}

.faq .faq-footer a{
  color:#fa1578;
  text-decoration: underline;
  text-underline-offset: 6px;
}

@media only screen and (max-width: 992px) {
  .faq .container {
    margin: 90px auto;
    max-width: 83%;
}
}
/* FAQS SECTION STYLE END */


